h1, h2{
    font-family:'Oswald', sans;
}

ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
}

li {
    display: inline;
}

#navbar a {
    margin-left: 75px;
    margin-right: 75px;
}
body{
    font-family:'Open Sans', sans;
    color: DarkBlue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: Ivory;
}
img {
    float:left;
}

.left {
    float:left;
    width:300px;
    padding: 1em;
}

.Right{
    float:right;
    width: 300px;
    padding: 1em;
}

.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}