

/* Bordered form */
form {
  border: 3px solid #666666;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid #5f5b5b;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #5f5b5b;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid #5f5b5b;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

body {
  background-image: url(flowerimages/bg.jpg);
  
  background-size:cover;
  height: 800px;
  width: 800px;
  margin: auto;}



.alert_box{
  padding: 20px;
  background-color:#FFA500; 
  color: white;
  margin-bottom: 15px;
}

